/**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/
/*@font-face {*/
/*    font-family: 'DINNeuzeitGrotesk LT';*/
/*    src: url('../font/DINNeuzeitGroteskLT-Light.woff2') format('woff2'),*/
/*    url('../font/DINNeuzeitGroteskLT-Light.woff') format('woff');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/


@font-face {
    font-family: 'DINNeuzeitGrotesk LT';
    src: url('../font/NeuzeitGroExt-Bla.eot');
    src: local('Neuzeit Grotesk Extra-condensed Black'), local('NeuzeitGroExt-Bla'),
    url('../font/NeuzeitGroExt-Bla.eot?#iefix') format('embedded-opentype'),
    url('../font/NeuzeitGroExt-Bla.woff2') format('woff2'),
    url('../font/NeuzeitGroExt-Bla.woff') format('woff'),
    url('../font/NeuzeitGroExt-Bla.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk LT';
    src: url('../font/NeuzeitGro-Bla.eot');
    src: local('Neuzeit Grotesk Black'), local('NeuzeitGro-Bla'),
    url('../font/NeuzeitGro-Bla.eot?#iefix') format('embedded-opentype'),
    url('../font/NeuzeitGro-Bla.woff2') format('woff2'),
    url('../font/NeuzeitGro-Bla.woff') format('woff'),
    url('../font/NeuzeitGro-Bla.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk LT';
    src: url('../font/NeuzeitGro-Reg.eot');
    src: local('Neuzeit Grotesk Regular'), local('NeuzeitGro-Reg'),
    url('../font/NeuzeitGro-Reg.eot?#iefix') format('embedded-opentype'),
    url('../font/NeuzeitGro-Reg.woff2') format('woff2'),
    url('../font/NeuzeitGro-Reg.woff') format('woff'),
    url('../font/NeuzeitGro-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk LT';
    src: url('../font/NeuzeitGro-Lig.eot');
    src: local('Neuzeit Grotesk Light'), local('NeuzeitGro-Lig'),
    url('../font/NeuzeitGro-Lig.eot?#iefix') format('embedded-opentype'),
    url('../font/NeuzeitGro-Lig.woff2') format('woff2'),
    url('../font/NeuzeitGro-Lig.woff') format('woff'),
    url('../font/NeuzeitGro-Lig.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk LT';
    src: url('../font/NeuzeitGro-Bol.eot');
    src: local('Neuzeit Grotesk Bold'), local('NeuzeitGro-Bol'),
    url('../font/NeuzeitGro-Bol.eot?#iefix') format('embedded-opentype'),
    url('../font/NeuzeitGro-Bol.woff2') format('woff2'),
    url('../font/NeuzeitGro-Bol.woff') format('woff'),
    url('../font/NeuzeitGro-Bol.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk LT';
    src: url('../font/NeuzeitGroCon-Bla.eot');
    src: local('Neuzeit Grotesk Condensed Black'), local('NeuzeitGroCon-Bla'),
    url('../font/NeuzeitGroCon-Bla.eot?#iefix') format('embedded-opentype'),
    url('../font/NeuzeitGroCon-Bla.woff2') format('woff2'),
    url('../font/NeuzeitGroCon-Bla.woff') format('woff'),
    url('../font/NeuzeitGroCon-Bla.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


.modal-content {
    border-radius: 0 !important;
}

.book-dialog .book-content {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.form-group label, .form-group input, .form-group option {
    font-family: 'DINNeuzeitGrotesk LT';
}

.room_wrp .card-body h3 {
    margin: 0;
}

.room_wrp {
    font-family: 'DINNeuzeitGrotesk LT';
}

.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .caption {
    text-align: center;
    font-family: 'DINNeuzeitGrotesk LT';
}

.room_wrp .card-body {
    flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    background-color: #fff;
    font-family: 'DINNeuzeitGrotesk LT';
}

.card {
    border: 1px solid #e3e3e3;
    border-radius: 0 !important;
}

.booking-plugin {
    max-width: 1400px;
    margin: 0 auto;
}

.room-filters .form-control {
    border: 1px solid #e3e3e3;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 0;
}


.room-filters .form-control:active, .room-filters .form-control:focus {
    outline: none;
    border-color: #000;
    box-shadow: none;
}

.fit-table-wrp h3 {
    font-family: 'DINNeuzeitGrotesk LT';
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

.card-group .owl-stage-outer {
    z-index: 100;
    position: relative;
    display: flex;
}

.event-wrp:hover {
    background-color: #f7f7f7;
}

.eventr-date {
    font-size: 14px;
    line-height: 26px;
}

.event-title {
    font-size: 14px;
    line-height: 25px;
}

.event-wrp {
    cursor: pointer;
    display: flex;
}

.owl-theme .owl-nav .owl-next span {
    color: #fff;
}

.owl-theme .owl-nav .owl-next {
    margin-right: -40px !important;
    height: 200px;
    width: 30px;
    background-color: #000 !important;
    color: #fff;
}

.owl-theme .owl-nav .owl-prev span {
    color: #fff;
}

.owl-theme .owl-nav .owl-prev {
    margin-left: -40px !important;
    height: 200px;
    width: 30px;
    background-color: #000 !important;

}

.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: -15px;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none !important;
}

.book-content .modal-body .row {

    border-bottom: 1px solid #dee2e6;
}

.book-content .modal-body {
    padding: 0;
}

.book-content .modal-footer {
    border: none;
}

.book-content .modal-sidebar {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.book-dialog .modal-title {
    margin: 0;
    font-family: 'DINNeuzeitGrotesk LT';
}

.book-dialog .modal-title span {
    font-size: 16px;
    font-weight: 300;
    color: #444;
}

.book-dialog .room-title {
    margin: 0 15px;
    color: #555;
    font-family: 'DINNeuzeitGrotesk LT';
}

.book-dialog .room-trainer {
    margin: 0 15px;
    color: #555;
    font-family: 'DINNeuzeitGrotesk LT';
}

.room-description, .trainer-description {
    font-size: 13px;
    margin: 0 15px 15px;
    font-family: 'DINNeuzeitGrotesk LT';
}

.book-dialog .img-holder {
    margin-bottom: 10px;
}

/**/
selector + [data-readmore-toggle], selector[data-readmore] {
    display: block;
    width: 100%;
}

.variant-place-selector #places {
    position: relative;
    width: 100%;
    min-height: 100px; /* border-radius: .25rem; */
    margin: 15px 0;

    overflow: hidden;
    overflow-x: auto;
}

.variant-place-selector #places li {
    list-style: none outside none;
    position: absolute;
}

.variant-place-selector #places li:hover a {
    color: #fd7e0f;
}

.variant-place-selector #places li:hover {
    background-color: yellow;
    cursor: pointer;
    color: #000;
}

.variant-place-selector #places li a {
    font-size: 13px;
    color: #555;
    font-family: 'DINNeuzeitGrotesk LT';
}

.variant-place-selector #places .place {
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    text-align: center;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.variant-place-selector #places .selectedPlace {
    background-color: #dc3545;
}

.variant-place-selector #places .selectingPlace {
    background-color: #39e065;
}

.fc-event-main {
    padding: 3px 3px 0 !important;
    display: flex;
    flex-direction: column;
}

.fc-event-main strong {
    display: block;
    margin-bottom: 2px;
}

.place-take {
    flex-direction: column;
    align-items: center;
}

.place-take .trainer-place:hover .trainer-photo:last-child {
    display: none;
}

.place-take .trainer-place {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.trainer-photo {
    width: 150px;
    height: 150px;
    position: absolute;
}

.today .card-body {
    background-color: #e0e0e0 !important;
}

.customer-note-wrp h4, .price {
    margin-top: 0;
    font-family: 'DINNeuzeitGrotesk LT';
}

.customer-note-wrp {
    width: 100%;

}

#customer_note:focus {
    box-shadow: none;
    border: 1px solid #000;

}

#customer_note {
    width: 100%;
    min-height: 100px;
    border-radius: 0;
}

.button-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: revert;
}

.mini-ava {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    float: right;
    display: block;
    object-fit: cover;
    overflow: hidden;

}

.fc-event-main {
    overflow: hidden;
}

button#submit_event {
    background: #000;
    border-radius: 0;
    border: none;
}