/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#calendar {
    max-width: 1100px;
    margin: 20px 0;
    padding: 0 10px;
}

.variant-place-selector {
    min-height: 200px;
    height: 100%;
    width: 100%;
}

.variant-place-selector #places {
    position: relative;
    background: #f7f7f7;
    width: 100%;
    min-height: 200px;
}

.variant-place-selector #places li {
    list-style: none outside none;
    position: absolute;
}

.variant-place-selector #places li:hover {
    background-color: yellow;
    cursor: pointer;
}

.variant-place-selector #places li a {
    font-size: 0.6em;
    color: #fff;
}

.variant-place-selector #places .place {
    height: 36px;
    width: 36px;
    margin: 5px;
    display: block;
    border-radius: 18px;
    background-color: #007bff;
    text-align: center;
    line-height: 36px;
}

.variant-place-selector #places .selectedPlace {
    background-color: #dc3545;
}

.variant-place-selector #places .selectingPlace {
    background-color: #39e065;
}

.fc-event-main {
    padding: 3px 3px 0 !important;
    display: flex;
    flex-direction: column;
}

.fc-event-main strong {
    display: block;
    margin-bottom: 2px;
}